<% title "Monsters" %>
<style>
	table { width: 100%; }
	td { border-bottom: 1px solid #DDD; text-align: center; }
</style>
<table>
	<tr>
		<th></th>
		<th>Name</th>
		<th>Level</th>
	</tr>
	<% for game_monster in @game_monsters %>
	<tr>
		<td><%= image_tag game_monster.asset.thumb.url if game_monster.asset? %></td>
		<td><%= game_monster.name %></td>
		<td><%= game_monster.min_level %></td>
		<td><%= link_to "Show", game_monster %> | <%= link_to "Edit", edit_game_monster_path(game_monster) %> | <%= link_to "Destroy", game_monster, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<p><%= link_to "New Game Monster", new_game_monster_path %></p>
