<% title "Game Monster" %>
<style>
	input { width: 100%; border: 1px solid #DDD; padding: 3px; }
	table { width: 100%; }
</style>
<p>
	<strong>Asset:</strong>
	<%= image_tag @game_monster.asset.thumb.url %>
	<table>
		<tr>
			<td>iphone: <input value="<%= @game_monster.asset.iphone.url %>"/></td>
		</tr>
		<tr>
			<td>thumb: <input value="<%= @game_monster.asset.thumb.url %>"/></td>
		</tr>
		<tr>
			<td>original: <input value="<%= @game_monster.asset.url %>"/></td>
		</tr>
	</table>
</p>
<p>
	<strong>Min Level:</strong>
	<%= @game_monster.min_level %>
</p>

<p>
	<%= link_to "Edit", edit_game_monster_path(@game_monster) %> |
	<%= link_to "Destroy", @game_monster, :confirm => 'Are you sure?', :method => :delete %> |
	<%= link_to "View All", game_monsters_path %>
</p>
