<%= form_for @game_level do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.label :max_health %><br />
    <%= f.text_field :max_health %>
  </p>
  <p>
    <%= f.label :max_turns %><br />
    <%= f.text_field :max_turns %>
  </p>
  <p>
    <%= f.label :required_experience %><br />
    <%= f.text_field :required_experience %>
  </p>
  <p><%= f.submit %></p>
<% end %>
