<% title "Game Levels" %>

<table>
  <tr>
    <th>Order</th>
    <th>Max Health</th>
    <th>Max Turns</th>
    <th>Required Experience</th>
  </tr>
  <% for game_level in @game_levels %>
    <tr>
      <td><%= game_level.order %></td>
      <td><%= game_level.max_health %></td>
      <td><%= game_level.max_turns %></td>
      <td><%= game_level.required_experience %></td>
      <td><%= link_to "Show", game_level %></td>
      <td><%= link_to "Edit", edit_game_level_path(game_level) %></td>
      <td><%= link_to "Destroy", game_level, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Game Level", new_game_level_path %></p>
