<%= form_for [@player,@character] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :turns %><br />
    <%= f.text_field :turns %>
  </p>
  <p>
    <%= f.label :race %><br />
	<%= f.collection_select :race, Game.first.game_races.all, :id, :name %>
  </p>
  <p>
    <%= f.label :health %><br />
    <%= f.text_field :health %>
  </p>
  <p>
    <%= f.label :experience %><br />
    <%= f.text_field :experience %>
  </p>
  <p><%= f.submit %></p>
<% end %>