<% title "Character" %>

<p>
  <strong>Level:</strong>
  <%= @character.level %>
</p>
<p>
  <strong>Turns:</strong>
  <%= @character.turns %>
</p>
<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>
<p>
  <strong>Health:</strong>
  <%= @character.health %>
</p>
<p>
  <strong>Experience:</strong>
  <%= @character.experience %>
</p>

<p>
  <%= link_to "Edit", edit_player_character_path(@player,@character) %> |
  <%= link_to "Destroy", [@player,@character], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", player_characters_path(@player) %>
</p>
