<%= form_for @player do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :adrenaline %><br />
    <%= f.text_field :adrenaline %>
  </p>
  <p><%= f.submit %></p>
<% end %>
