<% title "Game Characters" %>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
  </tr>
  <% for game_character in @game_characters %>
    <tr>
      <td><%= game_character.name %></td>
      <td><%= game_character.min_level %></td>
      <td><%= link_to "Show", game_character %></td>
      <td><%= link_to "Edit", edit_game_character_path(game_character) %></td>
      <td><%= link_to "Destroy", game_character, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Game Character", new_game_character_path %></p>
